.git/
**/.DS_Store
**/*.pyc
**/__pycache__/
client/build/
client/dist/
client/*.egg-info/
client/config.ini
docs/_build/
dashboard/static/docs/
kubernetes/
venv/
db.sqlite3
local/
remote/
shared/
private/
services/
