.DS_Store
*.pyc
__pycache__/
client/*.egg-info/
client/dist/
client/config.ini
venv/
docs/_build/
db.sqlite3
local/
remote/
shared/
private/
services/
csr.conf
karvdash-maw.csr
karvdash-maw.key
karvdash-maw.pem
