Django==3.0.14
django-crispy-forms==1.12.0
django-impersonate==1.7.3
django-chunked-upload==2.0.0
django-oauth-toolkit==1.5.0
django-auth-ldap==3.0.0
python-dxf==7.7.1
kubernetes==20.13.0
PyYAML==5.4.1
passlib==1.7.4
restless==2.1.1
jsonpatch==1.32
gunicorn==20.1.0
whitenoise==5.2.0
