Django==3.0.11
django-crispy-forms==1.10.0
django-impersonate==1.7.2
python-dxf==7.7.1
docker==4.4.1
kubernetes==12.0.1
PyYAML==5.3.1
passlib==1.7.4
restless==2.1.1
jsonpatch==1.28
gunicorn==20.0.4
whitenoise==5.2.0
