Django==3.2.21
django-crispy-forms==1.14.0
django-impersonate==1.9.1
django-chunked-upload==2.0.0
django-oauth-toolkit==1.7.1
django-auth-ldap==4.5.0
channels==3.0.5
channels-redis==3.4.1
celery==5.3.4
redis==4.6.0
requests==2.31.0
kubernetes==27.2.0
ruamel.yaml==0.17.32
passlib==1.7.4
Jinja2==3.1.2
packaging==23.1
jsonpatch==1.33
gunicorn==21.2.0
whitenoise==6.5.0
mkdocs==1.5.3
mkdocs-include-markdown-plugin==4.0.4
