{{- $ingressURL := (required "You must set karvdash.ingressURL to the ingress URL used" .Values.karvdash.ingressURL) }}
{{- $karvdashURL := default "http://127.0.0.1:8000" .Values.karvdash.developmentURL }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-proxy
  labels:
    app: {{ .Release.Name }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
data:
  default.conf: |
    log_format custom '$http_x_forwarded_for - $sent_http_x_log_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" "$http_user_agent"';

    server {
        listen 80;
        server_name {{ .Release.Name }}.{{ .Release.Namespace }}.svc;
        client_max_body_size 10m;

        access_log /var/log/nginx/access.log custom;

        location / {
            proxy_set_header    Host $host;
            proxy_set_header    X-Real-IP $remote_addr;
            proxy_set_header    X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header    X-Forwarded-Proto $scheme;

            proxy_pass          {{ $karvdashURL }};
            proxy_read_timeout  {{ .Values.karvdash.timeout }};

            proxy_redirect      {{ $karvdashURL }} http://{{ .Release.Name }}.{{ .Release.Namespace }}.svc;
        }
    }
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-webhook
  labels:
    app: {{ .Release.Name }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
data:
  default.conf: |
    log_format custom '$remote_addr - $sent_http_x_log_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" "$http_user_agent"';

    server {
        listen 443 ssl;
        server_name {{ .Release.Name }}.{{ .Release.Namespace }}.svc;

        access_log /var/log/nginx/access.log custom;

        ssl_certificate         /etc/ssl/keys/tls.crt;
        ssl_certificate_key     /etc/ssl/keys/tls.key;

        ssl_session_cache       builtin:1000 shared:SSL:10m;
        ssl_protocols           TLSv1 TLSv1.1 TLSv1.2;
        ssl_ciphers             HIGH:!aNULL:!eNULL:!EXPORT:!CAMELLIA:!DES:!MD5:!PSK:!RC4;
        ssl_prefer_server_ciphers on;

        location / {
            proxy_set_header    Host $host;
            proxy_set_header    X-Real-IP $remote_addr;
            proxy_set_header    X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header    X-Forwarded-Proto $scheme;

            proxy_pass          {{ $karvdashURL }};
            proxy_read_timeout  {{ .Values.karvdash.timeout }};

            proxy_redirect      {{ $karvdashURL }} https://{{ .Release.Name }}.{{ .Release.Namespace }}.svc;
        }
    }
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-env
  labels:
    app: {{ .Release.Name }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
data:
  DJANGO_DEBUG: {{- if .Values.karvdash.djangoDebug }} {{ .Values.karvdash.djangoDebug | quote }} {{- else }} "" {{- end }}
  KARVDASH_TIMEOUT: {{- if .Values.karvdash.timeout }} {{ .Values.karvdash.timeout | quote }} {{- else }} "" {{- end }}
  KARVDASH_NAMESPACE: {{ .Release.Namespace }}
  KARVDASH_LDAP_SERVER_URL: {{- if .Values.karvdash.ldapServerURL }} {{ .Values.karvdash.ldapServerURL | quote }} {{- else }} "" {{- end }}
  KARVDASH_LDAP_USER_DN_TEMPLATE: {{- if .Values.karvdash.ldapUserDNTemplate }} {{ .Values.karvdash.ldapUserDNTemplate | quote }} {{- else }} "" {{- end }}
  KARVDASH_LDAP_USER_ATTR_MAP: {{- if .Values.karvdash.ldapUserAttrMap }} {{ .Values.karvdash.ldapUserAttrMap | quote }} {{- else }} "" {{- end }}
  KARVDASH_VOUCH_URL: {{ printf "%s://vouch.%s" ($ingressURL | urlParse).scheme (split ":" ($ingressURL | urlParse).host)._0 | quote }}
  KARVDASH_VOUCH_SECRET: {{ .Release.Name }}-oauth-vouch
  KARVDASH_HTPASSWD_EXPORT_DIR: {{- if .Values.karvdash.htpasswdExportDir }} {{ .Values.karvdash.htpasswdExportDir | quote }} {{- else }} "" {{- end }}
  KARVDASH_DASHBOARD_TITLE: {{- if .Values.karvdash.dashboardTitle }} {{ .Values.karvdash.dashboardTitle | quote }} {{- else }} "" {{- end }}
  KARVDASH_DOCUMENTATION_URL: {{- if .Values.karvdash.documentationURL }} {{ .Values.karvdash.documentationURL | quote }} {{- else }} "" {{- end }}
  KARVDASH_ISSUES_URL: {{- if .Values.karvdash.issuesURL }} {{ .Values.karvdash.issuesURL | quote }} {{- else }} "" {{- end }}
  KARVDASH_INGRESS_URL: {{ $ingressURL | quote }}
  KARVDASH_REGISTRY_URL: {{- if .Values.karvdash.registryURL }} {{ .Values.karvdash.registryURL | quote }} {{- else }} "" {{- end }}
  KARVDASH_DATASETS_AVAILABLE: {{- if .Values.karvdash.datasetsAvailable }} {{ .Values.karvdash.datasetsAvailable | quote }} {{- else }} "" {{- end }}
  KARVDASH_SERVICE_DOMAIN: {{ printf "%s.%s.svc" .Release.Name .Release.Namespace | quote }}
  KARVDASH_FILES_URL: {{- if .Values.karvdash.filesURL }} {{ .Values.karvdash.filesURL | quote }} {{- else }} "" {{- end }}
  KARVDASH_ALLOWED_HOSTPATH_DIRS: {{- if .Values.karvdash.allowedHostPathDirs }} {{ .Values.karvdash.allowedHostPathDirs | quote }} {{- else }} "" {{- end }}
  KARVDASH_JUPYTERHUB_URL: {{- if .Values.karvdash.jupyterHubURL }} {{ .Values.karvdash.jupyterHubURL | quote }} {{- else }} "" {{- end }}
  KARVDASH_JUPYTERHUB_NAMESPACE: {{- if .Values.karvdash.jupyterHubNamespace }} {{ .Values.karvdash.jupyterHubNamespace | quote }} {{- else }} "" {{- end }}
  KARVDASH_JUPYTERHUB_NOTEBOOK_DIR: {{- if .Values.karvdash.jupyterHubNotebookDir }} {{ .Values.karvdash.jupyterHubNotebookDir | quote }} {{- else }} "" {{- end }}
  KARVDASH_ARGO_WORKFLOWS_URL: {{- if .Values.karvdash.argoWorkflowsURL }} {{ .Values.karvdash.argoWorkflowsURL | quote }} {{- else }} "" {{- end }}
  KARVDASH_ARGO_WORKFLOWS_NAMESPACE: {{- if .Values.karvdash.argoWorkflowsNamespace }} {{ .Values.karvdash.argoWorkflowsNamespace | quote }} {{- else }} "" {{- end }}
  KARVDASH_GRAFANA_URL: {{- if .Values.karvdash.grafanaURL }} {{ .Values.karvdash.grafanaURL | quote }} {{- else }} "" {{- end }}
  KARVDASH_GRAFANA_NAMESPACE: {{- if .Values.karvdash.grafanaNamespace }} {{ .Values.karvdash.grafanaNamespace | quote }} {{- else }} "" {{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-files
  labels:
    app: {{ .Release.Name }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
data:
  registry_cert_file: |
    {{- if .Values.karvdash.registryCert }}
    {{- .Values.karvdash.registryCert | nindent 4 }}
    {{- end }}
  disabled_service_templates: |
    {{- range $val := .Values.karvdash.disabledServiceTemplates }}
    {{ $val }}
    {{- end }}
  disabled_dataset_templates: |
    {{- range $val := .Values.karvdash.disabledDatasetTemplates }}
    {{ $val }}
    {{- end }}
  service_url_prefixes: |
    {{- range $val := .Values.karvdash.serviceURLPrefixes }}
    {{ $val }}
    {{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-vouch-proxy
  labels:
    app: {{ .Release.Name }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
data:
  VOUCH_ALLOWALLUSERS: "true"
  VOUCH_COOKIE_DOMAIN: {{ (split ":" ($ingressURL | urlParse).host)._0 }}
  VOUCH_COOKIE_SECURE: "false"
  VOUCH_HEADERS_CLAIMS: "preferred_username"
  OAUTH_PROVIDER: oidc
  OAUTH_AUTH_URL: {{ $ingressURL }}/oauth/authorize/
  OAUTH_TOKEN_URL: http://127.0.0.1/oauth/token/
  OAUTH_USER_INFO_URL: http://127.0.0.1/oauth/userinfo/
  OAUTH_CALLBACK_URL: {{ printf "%s://vouch.%s/auth" ($ingressURL | urlParse).scheme (split ":" ($ingressURL | urlParse).host)._0 | quote }}
