html {
  height: 100%;
}
body {
  height: 100%;
}
nav {
  background-color: #e9ecef!important;
}
nav > div > img {
  width: 90%;
}
table tbody tr td .btn {
  display: none;
}
table tbody tr:hover td .btn {
  display:inline-block;
}
.asteriskField {
  display: none;
}
