html {
  height: 100%;
}
body {
  height: 100%;
}
nav {
  background-color: #e9ecef!important;
}
nav > div > img {
  width: 90%;
}
a.nav-link i.fa {
  width: 1.4em;
  text-align: center;
}
table tbody tr td .btn {
  display: none;
}
table tbody tr:hover td .btn {
  display:inline-block;
}
.asteriskField {
  display: none;
}
a.dropdown-item.btn-sm:hover,
a.dropdown-item.btn-sm:active,
a.dropdown-item.btn-sm:focus {
  color: #6c757d!important;
}
