html {
  height: 100%;
}
body {
  height: 100%;
}
main {
  background-color: #fff;
}
nav > div > img {
  width: 50%;
}
.btn-success,
.btn-success:visited {
  background-color: rgb(54, 134, 214)!important;
  border-color: rgb(54, 134, 214)!important;
  box-shadow: none!important;
}
.btn-success:hover,
.btn-success:active,
.btn-success:focus {
  background-color: rgb(22, 64, 104)!important;
  border-color: rgb(22, 64, 104)!important;
  box-shadow: none!important;
}
a:not(.btn),
a:visited:not(.btn) {
  color: rgb(54, 134, 214);
}
a.nav-link:hover,
a.nav-link:active,
a.nav-link:focus {
  color: rgb(22, 64, 104);
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  /*color: #212529!important;*/
  background-color: rgb(54, 134, 214)!important;
}
a.nav-link i.fa {
  width: 1.4em;
  text-align: center;
}
.dropdown-item.active, .dropdown-item:active {
  background-color: rgb(22, 64, 104)!important;
}
a.dropdown-item:hover,
a.dropdown-item:active,
a.dropdown-item:focus {
  color: #ffffff!important;
  background-color: rgb(22, 64, 104)!important;
}
button.dropdown-item.btn-sm:hover,
button.dropdown-item.btn-sm:active,
button.dropdown-item.btn-sm:focus {
  color: #ffffff!important;
  background-color: rgb(22, 64, 104)!important;
}
.breadcrumb {
  background-color: rgb(22, 64, 104);
}
.breadcrumb-item.active,
.breadcrumb-item+.breadcrumb-item::before {
  color: #ffffff;
}
table tbody tr td .btn {
  display: none;
}
table tbody tr:hover td .btn {
  display:inline-block;
}
.asteriskField {
  display: none;
}
