{% load static %}

<!doctype html>
<html lang="en" data-bs-theme="light">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:;base64,=">

    <link href="{% static 'dashboard/assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/assets/css/bootstrap-icons.min.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/theme/style.css' %}" rel="stylesheet">
    {% block style %}
    {% endblock %}

    <script src="{% static 'dashboard/assets/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/bootstrap.bundle.min.js' %}"></script>
    {% block script %}
    {% endblock %}

    <title>{{ dashboard_title }}</title>
  </head>
  <body>
    {% block body %}
    {% endblock %}
  </body>
</html>
