{% extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}
<div class="container">
  <div class="text-center">
    <img class="d-block mx-auto mb-4" src="{% static 'dashboard/logo_short.svg' %}" alt="" width="280" height="280">
    {% if message %}<p class="lead">{{ message|safe }}</p>{% endif %}
  </div>

  {% if form %}
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h4 class="mb-3">Change password</h4>
      {% crispy form %}
    </div>
  </div>
  {% endif %}

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <ul class="list-inline">
      <li class="list-inline-item">Go <a class="text-light" href="{{ next }}">back</a></li>
    </ul>
  </footer>
</div>
{% endblock %}
