{% extends 'dashboard/main.html' %}
{% load static %}

{% block toolbar %}
<div class="btn-group mr-2" role="group" aria-label="Basic example">
  <a href="{% url 'data' %}" class="btn btn-outline-secondary {% if domain == 'local' %}active{% endif %}" role="button">
    <i class="fa fa-laptop" aria-hidden="true"></i> Local
  </a>
  <a href="{% url 'data' %}" class="btn btn-outline-secondary {% if domain == 'remote' %}active{% endif %}" role="button">
    <i class="fa fa-sitemap" aria-hidden="true"></i> Remote
  </a>
</div>
{% endblock %}

{% block main %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {% if route %}
    {% for point in route %}
    <li class="breadcrumb-item"><a href="{{ point.url }}">{{ point.name }}</a></li>
    <!-- <li class="breadcrumb-item active" aria-current="page">Library</li> -->
    {% endfor %}
    {% else %}
    &nbsp;
    {% endif %}
  </ol>
</nav>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Modified</th>
      <th scope="col">Size</th>
    </tr>
  </thead>
  <tbody>
    {% for content in contents %}
    <tr>
      <th scope="row">
        {% if content.type == 'dir' %}
        <i class="fa fa-folder" aria-hidden="true"></i>
        {% else %}
        <i class="fa fa-file" aria-hidden="true"></i>
        {% endif %}
      </th>
      <td><a href="{{ content.url }}">{{ content.name }}</a></td>
      <td>{{ content.modified }}</td>
      <td>{% if content.size %}{{ content.size|filesizeformat }}{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
