{% extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}
<div class="container">
  <div class="row py-5">&nbsp;</div>

  <div class="text-center">
    <img class="d-block mx-auto mt-5 mb-5" src="{% static 'dashboard/themes/'|add:dashboard_theme|add:'/logo.png' %}" alt="">
  </div>

  <div class="row">
    <div class="col-6 offset-3">
      <div class="mb-3">
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-warning small" role="alert">{{ error|escape }}</div>
        {% endfor %}
        {% endif %}
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            <input type="text" name="username" class="form-control" placeholder="Username">
          </div>
          <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-success btn-block">Login</button>
        </form>
      </div>
      <p><a class="btn btn-success btn-block" href="{% url 'signup' %}">Sign up</a></p>
    </div>
  </div>
</div>
{% endblock %}
