{% extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block header %}
<style>
html, body {
  /*height: 100%;*/
  height: 100vh;
}
.container-fluid .row {
  height: 100vh;  
}
.sidebar {
  background-color: rgb(41, 42, 102)!important;
  /*background-color: rgb(45, 29, 98);*/
  color: #f8f9fa;
}
.btn-success,
.btn-success:visited {
  color: #212529!important;
  background-color: rgb(58, 250, 250)!important;
  border-color: rgb(58, 250, 250)!important;
  box-shadow: none!important;
}
.btn-success:hover,
.btn-success:active,
.btn-success:focus {
  color: #212529!important;
  background-color: #e2e6ea!important;
  border-color: #dae0e5!important;
  box-shadow: none!important;
}
a,
a:visited {
  color: rgb(58, 250, 250)!important;
}
a:hover,
a:active,
a:focus {
  color: #e2e6ea!important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #212529!important;
  background-color: rgb(58, 250, 250)!important;
}
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-3 d-block bg-light sidebar">
      <div class="text-center">
        <img class="d-block mx-auto my-4" src="{% static 'dashboard/logo_short.svg' %}" alt="" width="50%" height="50%">
      </div>

      <div class="sidebar-sticky mb-3">
        <ul class="nav nav-pills flex-column mr-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa fa-cog" aria-hidden="true"></i> Code
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa fa-database" aria-hidden="true"></i> Data
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <!-- <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary">Share</button>
            <button class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
            This week
          </button>
        </div> -->
      </div>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas augue augue, tempus eu orci convallis, feugiat interdum ex. Duis rutrum neque sed sapien sollicitudin, quis pretium ante efficitur. Quisque porttitor tortor vitae pharetra suscipit. Nulla ut tellus id magna pretium auctor. Fusce pharetra lectus eu nulla pellentesque tincidunt. Nunc consequat augue quam, quis semper nisi laoreet quis. Pellentesque iaculis neque nibh, ac vehicula lectus porta mattis. Nam sit amet elit fringilla, bibendum est nec, convallis felis. Ut laoreet lacinia ullamcorper.</p>
      <p>Aenean lectus nisl, tempor et arcu id, hendrerit scelerisque lectus. Sed placerat sapien vitae orci tincidunt, non laoreet velit ultrices. Nulla in augue efficitur, suscipit leo ac, lacinia nibh. Donec consectetur, leo eget condimentum fermentum, libero nisl mollis sapien, ac suscipit nisi nunc id leo. Donec sit amet eros congue, ullamcorper libero nec, auctor nisl. Vivamus lacinia mollis neque, sit amet porttitor tellus condimentum non. Morbi ultrices scelerisque mattis. Maecenas ultrices nibh a elit tempus varius. Mauris finibus sem non molestie suscipit. Nullam rutrum dui pretium quam tristique, id rutrum nisl elementum. Ut lacinia finibus ex. Aenean et mauris varius, finibus erat non, elementum eros.</p>
      <p>Vestibulum volutpat, dui eu bibendum vestibulum, dolor velit dapibus lacus, id imperdiet erat odio quis elit. Aenean eu mi ac nulla mattis sodales. Nunc interdum a sem luctus aliquet. Ut a eleifend metus. In hac habitasse platea dictumst. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam ut auctor dui. Nullam sit amet lobortis neque, non pharetra justo. Curabitur blandit nunc a magna ultricies imperdiet. Proin dictum, velit consequat rutrum mollis, enim libero accumsan turpis, in tempus augue dolor ac eros. Phasellus lacinia ac elit nec sollicitudin. Vivamus nisl risus, pretium in imperdiet ut, rhoncus a odio. Proin et cursus magna. Integer nec neque bibendum, sollicitudin urna eu, vehicula sapien. Suspendisse et volutpat metus.</p>

    </main>
  </div>
</div>
<!-- <div class="container">
  <div class="row">
  </div>



  <footer class="my-5 pt-5 text-muted text-center text-small">
    <ul class="list-inline">
      <li class="list-inline-item">Logged in as {{ user.username }}</li>
      {% if can_change_password %}
      <li class="list-inline-item"><a class="text-dark" href="{% url 'change_password' %}?next={{ request.path }}">Change password</a></li>
      {% endif %}
      <li class="list-inline-item"><a class="text-dark" href="{% url 'logout' %}">Logout</a></li>
    </ul>
  </footer>
</div> -->
{% endblock %}
