{% extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-3 d-block">
      <div class="text-center">
        <img class="d-block mx-auto my-4" src="{% static 'dashboard/logo_short.svg' %}" alt="" width="50%" height="50%">
      </div>

      <ul class="nav nav-pills flex-column mb-3 mr-auto">
        <li class="nav-item">
          <a class="nav-link {% if title == 'Dashboard' %}active{% endif %}" href="{% url 'dashboard' %}">
            <i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if title == 'Code' %}active{% endif %}" href="{% url 'code' %}">
            <i class="fa fa-cog" aria-hidden="true"></i> Code
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if title == 'Data' %}active{% endif %}" href="{% url 'data' %}">
            <i class="fa fa-database" aria-hidden="true"></i> Data
          </a>
        </li>
      </ul>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto pt-3 px-4">
      {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
      </div>
      {% endfor %}

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ title }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownUserButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user" aria-hidden="true"></i> {{ user.username }}
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownUserButton">
              <a class="dropdown-item text-secondary" href="{% url 'change_password' %}">Change password</a>
              <a class="dropdown-item text-secondary" href="{% url 'logout' %}">Logout</a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
{% endblock %}
