{% extends 'dashboard/main.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block main %}
<div class="row">
  <div class="col-md-2 order-md-2">
  </div>

  <div class="col-md-10 order-md-1">
    <form method="post">
      <div class="modal-body">
        {% csrf_token %}
        {{ create_service_form|crispy }}
      </div>
      <div class="modal-footer">
        <a class="btn btn-secondary" href="{% url 'services' %}">Cancel</a>
        <input type="submit" class="btn btn-success" name="action" value="Create" />
      </div>
    </form>
  </div>
</div>
{% endblock %}
