{% extends 'dashboard/main.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block script %}
<script>
  $(document).on('click', '.confirm-delete', function () {
    $("#deleteNameText").text($(this).attr("id"));
    $("#deleteNameInput").val($(this).attr("id"));
  });
</script>
{% endblock %}

{% block toolbar %}
<button type="button" class="d-block btn btn-success mb-2 w-100" data-bs-toggle="modal" data-bs-target="#newTeamModal"><i class="bi bi-magic"></i> New team</button>

<div class="modal fade" id="newTeamModal" tabindex="-1" role="dialog" aria-labelledby="newTeamModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newTeamModalLabel">New team</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post">
        <div class="modal-body">
          {% csrf_token %}
          {{ create_team_form|crispy }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-success" name="action" value="Create" />
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block main %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"></th>
      {% with 'name description members' as list %}
      {% for item in list.split %}
      <th scope="col" class="text-nowrap">
        {% if sort_by == item and order == 'asc' %}
        <a class="text-dark" href="{{ request.path }}?sort_by={{ item }}&amp;order=desc">{{ item|title }}</a>
        {% else %}
        <a class="text-dark" href="{{ request.path }}?sort_by={{ item }}&amp;order=asc">{{ item|title }}</a>
        {% endif %}
        {% if sort_by == item %}
        <i class="bi bi-caret-{% if order == 'asc' %}up{% else %}down{% endif %}"></i>
        {% endif %}
      </th>
      {% endfor %}
      {% endwith %}
      <th scope="col" style="width: 140px;"></th>
    </tr>
  </thead>
  <tbody>
    {% for item in contents %}
    <tr>
      <th scope="row" class="align-middle"><i class="bi bi-people"></i></th>
      <td class="align-middle">{{ item.name }}</td>
      <td class="align-middle">{{ item.description }}</td>
      <td class="align-middle">{{ item.members }}</td>
      <td class="align-middle py-0">
        {% if item.actions %}
        <div class="dropdown">
          <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-tools"></i> Actions
          </button>
          <div class="dropdown-menu">
            <a href="{% url 'team_edit' item.name %}" class="dropdown-item btn btn-sm text-secondary"><i class="bi bi-pencil"></i> Edit</a>
            {% if user.is_staff %}<a href="{% url 'impersonate-start' item.id %}" class="dropdown-item btn btn-sm text-secondary"><i class="bi bi-incognito"></i> Impersonate</a>{% endif %}
            <button type="button" class="dropdown-item btn btn-sm text-secondary confirm-delete" data-bs-toggle="modal" data-bs-target="#deleteModal" id="{{ item.name }}"><i class="bi bi-trash3"></i> Delete</button>
          </div>
        </div>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post">
        <div class="modal-body">
          Are you sure you want to delete "<span id="deleteNameText"></span>"? The action will be permanent.
          {% csrf_token %}
          <input type="hidden" name="name" value="" id="deleteNameInput" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-success" name="action" value="Delete" />
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
