{% extends 'dashboard/main.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block main %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"></th>
      {% with 'name description version private' as list %}
      {% for item in list.split %}
      <th scope="col" class="text-nowrap">
        {% if sort_by == item and order == 'asc' %}
        <a class="text-dark" href="{{ request.path }}?sort_by={{ item }}&amp;order=desc">{{ item|title }}</a>
        {% else %}
        <a class="text-dark" href="{{ request.path }}?sort_by={{ item }}&amp;order=asc">{{ item|title }}</a>
        {% endif %}
        {% if sort_by == item %}
        <i class="bi bi-caret-{% if order == 'asc' %}up{% else %}down{% endif %}"></i>
        {% endif %}
      </th>
      {% endfor %}
      {% endwith %}
      <th scope="col" style="width: 140px;"></th>
    </tr>
  </thead>
  <tbody>
    {% for item in contents %}
    <tr>
      <th scope="row" class="align-middle"><i class="bi bi-map"></i></th>
      <td class="align-middle">{{ item.name }}</td>
      <td class="align-middle">{{ item.description }}</td>
      <td class="align-middle">{{ item.version }}</td>
      <td class="align-middle">{% if item.private %}<i class="bi bi-check"></i>{% endif %}</td>
      <td class="align-middle py-0">
        <div class="dropdown">
          <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button"data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-tools"></i> Actions
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item btn-sm text-secondary" href="{% url 'service_create' item.name %}?next=templates"><i class="bi bi-magic"></i> Create</a></a>
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
