html {
  height: 100%;
}
body {
  background-color: rgb(41, 42, 102);
  /*background-color: rgb(45, 29, 98);*/
  color: #f8f9fa;
  height: 100%;
}
main {
  background-color: #fff;
  color: #212529;
}
nav {
  background-color: rgb(41, 42, 102)!important;
}
.btn-success,
.btn-success:visited {
  color: #212529!important;
  background-color: rgb(58, 250, 250)!important;
  border-color: rgb(58, 250, 250)!important;
  box-shadow: none!important;
}
.btn-success:hover,
.btn-success:active,
.btn-success:focus {
  color: #212529!important;
  background-color: #e2e6ea!important;
  border-color: #dae0e5!important;
  box-shadow: none!important;
}
a:not(.btn),
a:visited:not(.btn) {
  color: rgb(58, 250, 250);
}
a:hover:not(.btn),
a:active:not(.btn),
a:focus:not(.btn) {
  color: #e2e6ea;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #212529!important;
  background-color: rgb(58, 250, 250)!important;
}
.dropdown-item.active, .dropdown-item:active {
  background-color: rgb(58, 250, 250)!important;
}
.breadcrumb {
  background-color: rgb(41, 42, 102);
}
.breadcrumb-item.active,
.breadcrumb-item+.breadcrumb-item::before {
  color: #e2e6ea;
}
table tbody tr td .btn {
  display: none;
}
table tbody tr:hover td .btn {
  display:inline-block;
}
.asteriskField {
  display: none;
}
a.dropdown-item.btn-sm:hover,
a.dropdown-item.btn-sm:active,
a.dropdown-item.btn-sm:focus {
  color: #6c757d!important;
}
